.modules-container, .projects-container, .superbadges-container 
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem;
}

lightning-card {
	animation: fadeIn 1ms ease forwards;
}

@media screen and (max-width: 768px) {
	lightning-card .modules-container, .projects-container, .superbadges-container  {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}