.about-me {
	width: 100%;
	min-height: 90vh;
	background-color: #042b44;
}

.about-me .heading { /* Stylish, modern color */
	font-size: 3rem;
	background-image: linear-gradient(120deg, #ffffff, #ffffff); /* Striking gradient for contrast */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase; /* Uppercase for a modern touch */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Enhanced text shadow for depth */
    letter-spacing: 0.1em; /* Spacing between letters for added style */
    display: inline-block; /* Allows the background to fit the text */
    padding: 0 10px; /* Padding for visual comfort */
    margin: 10px 0; /* Margin for spacing around the heading */
    border-radius: 5px; /* Slightly rounded edges for a soft look */
    text-align: center; /* Center-align the heading */
	font-weight: 600;
}