.about-me {
	width: 100%;
	min-height: 90vh;
	background-color: #042b44;
}

.about-me .heading {
	font-size: 3rem;
	background-image: linear-gradient(120deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 0 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
	font-weight: 600;
}

.about-me .text-content p {
	margin: 1rem 0;
}

